---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <!-- <div class="navbar__title">
        <a href="/">Tara Obersteller</a>
    </div> -->
    <div class="navbar__menu">
        <a href="/">Home</a>
        <a href="/works/">Works</a>
        <a href="/aboutme/">About</a>
        <a href="https://github.com/Taraobst" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>